<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tua">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".lec_deployTest"></activity>
        <activity android:name=".lec_classroom" />
        <activity android:name=".studentProfile" />
        <activity android:name=".studentResults" />
        <activity android:name=".lecProfile" />
        <activity android:name=".lecAnnouce" />
        <activity android:name=".lecResults" />
        <activity android:name=".lecQuestions" />
        <activity android:name=".studentAnswers">
            <tools:validation testUrl="https://tua.example.com:8080/studentAnswers" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="tua.example.com"
                    android:port="8080"
                    android:pathPrefix="/studentAnswers" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="apuiothack4.wixsite.com"
                    android:path="/website" />
            </intent-filter>
        </activity>
        <activity android:name=".lecSettings" />
        <activity android:name=".studentHome" />
        <activity android:name=".timesupScreen" />
        <activity android:name=".disconnectScreen" />
        <activity android:name=".successScreen" />
        <activity android:name=".lecHome" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="URL">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:scheme="https"
                    android:host="apuiothack4.wixsite.com"
                    android:pathPrefix="/website" />
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>
        </activity>
    </application>

</manifest>